.page-container {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.upload-form h2 {
  font-size: 22px;
  font-weight: 500;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.full-tag-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mid-tag-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding: 5px 8px 5px 12px;
  border: 1.25px solid lightgray;
  border-radius: 8px;
  height: 2.3rem;
}

.input-container select option {
  width: 100px;
  height: 2.3rem;
  padding: 5px 8px 5px 12px;
  border: 1.25px solid lightgray;
  border-radius: 8px;
}

#grade_level_upper option {
  width: 200px;
  padding: 5px 8px 5px 12px;
  border: 1.25px solid lightgray;
  border-radius: 8px;
}

.tag-input-container input {
  padding: 5px 8px 5px 12px;
  border: 1.25px solid lightgray;
  border-radius: 8px 8px 8px 8px;
  width: 300px;
  height: 300px;
}

.tag-input-container button {
  padding: 5px 8px 5px 8px;
  border: 1.25px solid lightgray;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  background-color: #9ab6b9;
}

.tag-input-container button:hover {
  background-color: #728b8e;
}

#file-input {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.required {
  color: red;
  margin-left: 4px;
}

.tag-progress-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.lesson-tag {
  padding: 6px 8px 6px 8px;
  margin-inline: 6px;
  border-radius: 12px;
  border: 1.25px solid var(--color-tertiary);
  background: var(--color-accent);
  color: var(--color-primary);
}

.upload-submit-button {
  margin-top: 18px;
  margin-bottom: 36px;
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--color-accent);
  width: 100%;
  border: none;
  box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.3);
}

.upload-submit-button:hover {
  background-color: var(--color-buttonhover);
}

.upload-state {
  margin-top: 18px;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.wrapper {
  margin-inline: auto;
  max-width: 1100px;
}

.wrapper--narrow {
  max-width: 600px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  margin-top: 24px;
  height: 800px;
}

.form-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
  font-family: sans-serif;
}


#title h1 {
  font-family: sans-serif;
}


.form-title h3 {
  margin-top: 0;
  font-family: sans-serif;
  font-weight: normal;
  text-align: left;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: span 2;
}

.form-input input {
  height: 2.3rem;
  width: 100%;
}
.form-input input::placeholder {
  color: var(--color-tertiary);
  opacity: 0.5;
  font: var(--ff);
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  border: 1px solid #ccc;
  background-color: var(--color-accent);
  color: black;
  border-radius: 12px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}

#form-upload {
  grid-column: 2;
}

#title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.select-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.select-row select {
  width: 300px;
  padding: 5px 8px 5px 12px;
  border: 1.25px solid lightgray;
  border-radius: 8px 8px 8px 8px;
  height: 2.3rem;
}

.label {
  width: 0.25rem;
}

.tag-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 2;
}

.tag-input input {
  height: 2.3rem;
  width: 600px;
  margin-right: 2rem;
}

.tag-input button {
  border-radius: 8px 8px 8px 8px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
