.header-container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: var(--color-header);
}

.header-container img {
  height: 3.25rem;
  margin-right: 1rem;
}

.header-title {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  flex: 1;
}

.header-container p {
  font-size: 1rem;
  color: var(--color-secondary);
  font-family: var(--ff);
  display: flex;
  justify-content: center;
}

.header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.header-option {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  width: max-content;
  margin: 0 0.5rem;
}

.header-option.active {
  background-color: #5e8c9788;
  color: var(--color-secondary);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  
}

.header-option:hover {
  text-decoration: none;
}

.header-options-right {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 2rem;
  flex: 1;
}

.header-option-admin-login {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-tertiary);
  background-color: var(--color-accent);
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
}

.header-option-admin-login:hover {
  background-color: var(--color-buttonhover);
}
