:root {
  --color-primary: #264653;
  --color-secondary: #ffffff;
  --color-tertiary: #000000;
  --color-accent: #e9c46a;
  --color-accent2: #e76f51;
  --color-header: #1a3039;
  --color-buttonhover: #d4a02b;
  --ff: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --h1: bold 3rem var(--ff);
  --h2: bold 2.25rem var(--ff);
  --h3: bold 1.5rem var(--ff);
  --p: 1.125rem var(--ff);
  --subtext: 0.75rem var(--ff);
  --shadow: #00000030 0px 0px 10px 0px;
  --shadowdark: #00000030 0px 5px 10px 5px;
}

body {
  color: var(--color-secondary);
  background: var(--color-primary);
  font-family: var(--ff);
}

body * {
  font-family: var(--ff);
}

h1 {
  font: var(--h1);
  margin-top: 8px;
}

h2 {
  font: var(--h2);
  margin-top: 8px;
}

h3 {
  font: var(--h3);
  margin-top: 8px;
}

p {
  font: var(--p);
  margin-top: 8px;
}

.subtext {
  font: var(--subtext);
  margin-top: 8px;
}

.section {
  margin: 80px auto 0px auto;
  max-width: 1512px;
}

.col {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.col * {
  flex: 1;
  min-width: 320px;
}
