.subheader {
    display: flex;
    justify-content: left;
    background-color: #ffffff; /* White background */
    border-bottom: 2px solid #ddd; /* Light border at the bottom */
    padding: 10px 0;
    width: 100%;
    padding-left: 10%;
  }
  
  .subheader .option {
    margin: 0 20px; /* Space between options */
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    position: relative;
  }
  
  .subheader .option.active {
    color: #000000; /* Darker color for the active tab */
  }
  
  .subheader .option.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; /* Position underline below the text */
    height: 2px;
    background-color: #000000; /* Underline color */
  }
  